body{
    background: #eceef2;
    padding-top: 80px;
    font-family: 'Open Sans', sans-serif;
}
header{
    background: white;
    position: fixed;
    width: 100%;
    height: 80px;
    z-index: 100;
    top: 0;
    display: flex;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, .1);
}
    header .logo{
        background: url(../img/logo.png) center center no-repeat #00bfe8;
        background-size: 60px 60px;
        width: 315px;
        height: 100%;
    }
    header a{
        color: #b0bec5;
        transition: all .3s;
    }
    header a:hover{
        color: #00bfe8;
        text-decoration: none;
    }
    header i{
        font-size: 1.4em;
        margin: 14px;
    }
    header .left{
        height: 100%;
        padding: 15px 30px;
        flex-grow: 3;
    }
    header .right{
        height: 100%;
        padding: 15px 30px;
    }
main{
    display: flex;
    align-items: stretch;
}
    main aside{
        background: #2e3b4c;
        width: 315px;
        height: calc(100vh - 80px);
        color: white;
        transition: all .3s;
        z-index: 100;
    }
        main aside.hidden{
            margin-left: -315px;
        }
        main aside .scroll{
            position: relative;
            overflow: auto;
            height: 100%;
            padding: 35px 0;
        }
        main aside .scroll::-webkit-scrollbar {
            width: 5px;
            height: 5px;
        }
        main aside .scroll::-webkit-scrollbar-button {
            width: 0px;
            height: 0px;
        }
        main aside .scroll::-webkit-scrollbar-thumb {
            background: #00bfe8;
            border: 0px none #ffffff;
        }
        main aside .scroll::-webkit-scrollbar-track {
            background: #2a3344;
            border: 0px none #ffffff;
        }
        main aside .scroll::-webkit-scrollbar-corner {
            background: transparent;
        }
        main aside .profile{
            padding: 0 35px 25px;
            height: 90px;
            display: flex;
            align-items: center;
        }
            main aside .profile .image{
                margin-right: 15px;
            }
            main aside .profile img{
                width: 65px;
                border-radius: 50%;
            }
            main aside .profile h2{
                font-size: 1.4em;
                margin: 0;
            }
            main aside .profile span{
                color: #b0bec5;
            }
        main aside ul{
            margin: 0;
            padding: 0;
            list-style: none;
        }
        main aside a{
            color: #b0bec5;
            font-size: 1em;
            display: block;
            border-left: 5px solid transparent;
            padding: 15px 25px;
            transition: all .3s;
        }
        main aside a.active,
        main aside ul a:hover{
            text-decoration: none;
            color: #b0bec5;
            background: #2a3344;
            border-color: #00bfe8;
        }
        main aside ul.secondary a{
            padding: 5px 25px;
        }
            main aside a .badge{
                float: right;
                padding: 5px 15px;
                border-radius: 30px;
                font-weight: 400;
                margin: 2px 0;
            }
            main aside a i{
                width: 30px;
                margin-right: 5px;
                text-align: center;
                font-size: 1.3em;
                line-height: 1em;
            }
        main aside hr{
            border-color: #555f72;
            width: calc(100% - 55px);
            margin-left: auto;
            margin-right: auto;
        }
    main section{
        width: calc(100% - 315px);
        transition: all .3s;
        padding: 30px;
    }
    main section.full{
        width: 100%;
    }
        main section .box{
            display: flex;
            background: white;
            box-shadow: 0 1px 2px 1px rgba(0, 0, 0, .1);
            margin-bottom: 20px;
        }
            main section .box .icon{
                width: 70px;
                color: white;
                text-align: center;
                align-content: center;
                font-size: 2em;
                display: flex;
                justify-content: center;
                align-items: center;
            }
            main section .box.red .icon{
                background: #ff8761;
            }
            main section .box.blue .icon{
                background: #57bdde;
            }
            main section .box.purple .icon{
                background: #b198dc;
            }
            main section .box.green .icon{
                background: #6dc7be;
            }
            main section .box .text{
                padding: 25px;
            }
            main section .box h3{
                text-transform: uppercase;
                margin: 0;
                font-size: 1em;
            }
            main section .box.red h3{
                color: #ff8761;
            }
            main section .box.blue h3{
                color: #57bdde;
            }
            main section .box.purple h3{
                color: #b198dc;
            }
            main section .box.green h3{
                color: #6dc7be;
            }
            main section .box p{
                margin: 0;
                font-size: 1.2em;
            }
            main section .box small{
                font-size: .6em;
                line-height: 2em;
                float: left;
            }