body{
    background: #eceef2;
    padding-top: 80px;
}
header{
    background: white;
    position: fixed;
    width: 100%;
    height: 80px;
    z-index: 100;
    top: 0;
}
    header .logo{
        background: url'') center center no-repeat #00bfe8;
        float: left;
        width: 315px;
        height: 100%;
    }
main{
    display: flex;
    align-items: stretch;
}
    main aside{
        background: #2e3b4c;
        width: 315px;
        height: calc(100vh - 80px);
        color: white;
    }
    main section{
        width: calc(100% - 315px);
    }