@media (max-width: 1200px) {
    
}
@media (max-width: 991px) {
    body{
        padding-top: 60px;
    }
    header{
        height: 60px;
    }
    header .logo{
        width: 80px;
        background-size: 45px 45px;
    }
    main{
        display: block;
    }
    main aside{
        height: calc(100vh - 60px);
        width: 90%;
        max-width: 315px;
        position: fixed;
        margin-left: -315px;
        top: 60px;
    }
    main aside.active{
        margin-left: 0;
    }
    header .left,
    header .right{
        padding: 5px 10px;
    }
    header i {
        margin: 14px 7px;
    }
    main section {
        width: 100%;
    }
}
@media (max-width: 768px) {
    
}
@media (max-width: 500px) {
    
}
@media (max-width: 350px) {

}
